# Entornos virtuales
venv/
.venv/
env/

# Archivos de configuración privados
.env

# Cachés de Python
_pycache_/
*.pyc
*.pyo
*.pyd
f
# Configuración de VS Code
.vscode/

# Archivos del sistema
*.log
*.sqlite3